@import url("https://fonts.googleapis.com/css?family=Numans");

$navbar-font: "Numans", sans-serif;

.name, .main-section, .nav, .project-card-list {
  text-align: center;
}

.nav, .project-card-list {
  padding-left: 0;
}

.profile-blurb {
  font-size: 26px;
}

.nav-link {
  display: inline-block;
  font-family: $navbar-font;
}

.project-card-list > li {
  display: inline-block;
}

.resources-list {
  list-style-type: none;
  padding-left: 0;
}

.project-card {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-card-title {
  display: inline-block;
  padding: 10px;
  margin: 0px;
}

.blog-post {
}

.blog-posts {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 20px;
  }
}