// Import Base Styles

@import "normalize";

.name, .main-section {
  text-align: center;
}

.nav, .project-card-list {
  text-align: center;
  padding-left: 0;
}

.nav-link, {
  display: inline-block;
}

.project-card-list > li {
  display: inline-block;
}

.resources-list {
  list-style-type: none;
  padding-left: 0;
}

.project-card {
  position: relative;
  width: 100%;
}

.project-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-card-title {
  display: block;
  padding: 10px;
  margin: 0px;
}