// Import Base Styles
@import "bootswatch-simplex";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}