// Fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
$open-sans: "Open Sans", sans-serif;

// Sizing

$font-size-small: 22px;
$font-size: 18px;

// Coloration

$link-color: #008cba;
$link-color-hover: #007ba0;