@import "variables/typography";
@import "variables/media";

$site-width: 800px;

// Main

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: $open-sans;
	background-color: #eee;
	padding: 0 50px;
	margin: auto;
	max-width: $site-width;

	a {
		text-decoration: none;
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	font-size: $font-size;

	@media only screen and (max-width: $small) {
		font-size: $font-size-small;
	}

}