@import "variables/typography";

$site-width: 800px;

// Main

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $open-sans;
	background-color: #eee;
	padding: 0 50px;
	margin: auto;
	max-width: $site-width;

	a {
		text-decoration: none;
		color: $link-color;
		&:hover {
			color: $link-color-hover;
		}
	}

	font-size: $font-size;

}