%h1 About

%p I am a burgeoning web developer looking to broaden my education and expand my skillset, as well as find new technologies and projects to work on. I have experience in Python and Ruby frameworks, including Rails, Django, and Flask. On the front-end, I have some experience using Backbone and Ember to create simple single-page applications, both with and without a database-driven back-end. I also have significant experience in static web page design using SASS-backed styling and HTML/CSS frameworks such as Foundation.

%p Although I am primarily versed in web development, I am interested in learning mobile development and desktop applications as well, and would love a chance to work on such a skillset.