---
layout: blog_layout
title: My Blog
---

%ul
	- sub_pages('blog').each do |resource|
		- if resource.data.title && resource.data.title != current_page.data.title
			%li
				= link_to resource.data.title, resource.url