---
title: Blog
---

%ul.blog-posts
  %li
    %article.blog-post
      = partial 'blog/react'
    %article.blog-post
      = partial 'blog/react-component-lifecycle'
    %article.blog-post
      = partial 'blog/things-to-remember'