---
title: Frontend Toys
---

%h1 Frontend Stuff!

%section#backbone-echo
	%h2 Backbone - Echo
	%input{type: "text", class: "echo-input", placeholder: "Type something into me!"}
	%input{type: "submit", class: "echo-submit", value: "Submit"}

	%p{class: "echo-text"}
		Your input will show up here.

%section#backbone-models
	%h2 Backbone - Models
	%div{class: "models-display"}
	%input{type: "submit", id: "models-submit", class: "models-submit", value: "Make a new user!"}

%section#backbone-actions
	%h2 Backbone - Actions
	%div.actions-display
	%input#actions-add.actions-add{type: "submit", value: "Add a new whatever!!"}

%section#backbone-todo
	%h2 Developing Backbone Applications - Todo
	%div#todo-element
	= javascript_include_tag 'frontend/templates/todo', {id: 'item-template', type: 'text/template'}