---
title: Frontend Toys
---

%h1 Frontend Stuff!

=link_to "Click here for the Backbone version of TodoMVC.", './todomvc.html'

%section#backbone-echo
	%h2 Backbone - Echo
	%input{type: "text", class: "echo-input", placeholder: "Type something into me!"}
	%input{type: "submit", class: "echo-submit", value: "Submit"}

	%p{class: "echo-text"}
		Your input will show up here.

%section#backbone-models
	%h2 Backbone - Models
	%div{class: "models-display"}
	%input{type: "submit", id: "models-submit", class: "models-submit", value: "Make a new user!"}

%section#backbone-actions
	%h2 Backbone - Actions
	%div.actions-display
	%input#actions-add.actions-add{type: "submit", value: "Add a new whatever!!"}

%section#backbone-todo
	%h2 Developing Backbone Applications - Todo
	%div#todo-element
	%script{id: 'item-template', type: 'text/template'}
		<div>
		<input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
		<%= title %>
		</div>

%section#backbone-sandbox
	%h2 Backbone - Sandbox
	%div#sandbox-element