%footer#footer
	%nav.site-nav
		%ul
			%li
				%a{href: "https://github.com/rpazyaquian"}
					%i{class: "fa fa-github"}
			%li
				%a{href: "https://www.linkedin.com/pub/rebecca-paz/4a/711/b40"}
					%i{class: "fa fa-linkedin"}
	%small
		Built on Middleman, written in HAML, Markdown, and SCSS.