%header#header
	%nav.header-nav
		%ul
			%li
				= link_to "Google!", "http://www.google.com", class: 'header-nav-link'
			%li
				= link_to "Built on Middleman!", "http://www.middlemanapp.com", class: 'header-nav-link'
			%li
				= link_to "My Blog!", "/blog/", class: 'header-nav-link'
			%li
				= link_to "Frontend Stuff!", "/frontend/", class: 'header-nav-link'