%header#header
  %h1.name Rebecca Paz-Yaquian
  %ul.nav
    %li.nav-link
      %a{href: "https://github.com/rpazyaquian"}
        Github
    %li.nav-link
      %a{href: "https://www.linkedin.com/pub/rebecca-paz/4a/711/b40"}
        LinkedIn
    %li.nav-link
      %a{href: "/resume"}
        Resume
    %li.nav-link
      %a{href: "/blog"}
        Blog
    %li.nav-link
      %a{href: "mailto:r.pazyaquian@gmail.com"}
        Email