%header#header
	%nav.header-nav
		%ul
			%li
				= link_to "About", "/about", class: 'header-nav-link'
			%li
				= link_to "Portfolio", "/portfolio", class: 'header-nav-link'
			%li
				= link_to "Resume", "/resume", class: 'header-nav-link'