-# %header#header
-# 	%nav.navbar.navbar-default
-# 		%ul.nav.navbar-nav
-# 			%li
-# 				= link_to "Home", "/"
-# 			%li
-# 				= link_to "About", "/about"
-# 			%li
-# 				= link_to "Portfolio", "/portfolio"
-# 			%li
-# 				= link_to "Resume", "/resume"
-# 			%li
-# 				= link_to "Blog", "/blog"
-# 			%li
-# 				%a{href: "https://github.com/rpazyaquian"}
-# 					%i{class: "fa fa-github"}
-# 			%li
-# 				%a{href: "https://www.linkedin.com/pub/rebecca-paz/4a/711/b40"}
-# 					%i{class: "fa fa-linkedin"}