---
title: Rebecca Paz
---

%section.main-section
	%p.profile-blurb
		Smart, adaptable web developer
	%p.profile-blurb
		with an interest in front-end programming
	%p.profile-blurb
		and a constant need to learn
	%p.profile-blurb
		new stacks and technologies.
	%div#projects
	-# %p
	-# 	Also, here's a list of resources I like!
	-# 	%ul.resources-list
	-# 		%li
	-# 			= link_to "Scalable and Modular Architecture in CSS", "http://smacss.com/book/"
	-# 		%li
	-# 			= link_to "Eloquent Javascript", "http://eloquentjavascript.net/"
	-# 		%li
	-# 			= link_to "Javascript Garden", "http://bonsaiden.github.io/JavaScript-Garden/"
	-# 		%li
	-# 			= link_to "Backbone Fundamentals", "http://addyosmani.github.io/backbone-fundamentals/"
	-# 		%li
	-# 			= link_to "Learn to Program", "https://pine.fm/LearnToProgram/"
