@import "variables/typography";

$link-padding: 5px;

.site-nav {
	ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
		list-style: none;
		li {
			display: inline;
			padding: $link-padding $link-padding;
			border-radius: 3px;

			transition: background-color, color, 0.1s linear;

			a {
				text-decoration: none;
				color: black;
			}

			&:hover {
				background-color: #949292;
				a {
					transition: color, 0.1s linear;
					color: #eee;
				}
			}
		}
	}

	i {
		font-size: 8vmax;
	}

}

@media only screen and (max-width: 40em) {
	.top-nav {
		ul {
			flex-flow: row wrap;
			li {
				min-width: 25%;
				text-align: center;
			}
		}
	}
}